#bg{
    background: url("https://s3-alpha-sig.figma.com/img/b2a8/419f/557ed0c512c1dbd860eae9c033687d26?Expires=1609113600&Signature=SlwT9FXsdSpwjtQg5MuRVxJjBrHVAdxMk1fVZeO4G9U135EkyB6wIjNfMqZztDhAH5BIm9n5cjxu3rsdXxUE3-CdgScmFI46fmE7KJjUW9jd0itFT3a6h6h~i0nK1RxOlk3vuCF7CwBNeH3TyaMXpROvZHWojqKe7DgOD9ZldGppMJ9BkVPqVb51cB1FUR2sCR9~LgIY0eMXZToflKaOTz4Bp--W6IiR33nknUoxuLhrnsgK-N-hc663UAMVm4i5P5sJvt~d-kNHzG8JALNcGtksaKxdKnQuTLNoIarSk1q6q1xuYpm~8vkeX591hpa11DXXYG8GHiieLiIOCm0KHA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    height:900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 
}
.header{
    padding-top: 50px;
}
.navbar-item{
    height: 40px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}
.main{
    padding-top: 160px;
}
h1{

    font-style: normal;
    font-weight: 600;
    font-size: 64px !important;
    line-height: 76px;
}
.textbg{
    padding-top: 40px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 130%;
    padding-bottom: 35px;
}
.btnsuccess{
    font-weight: 600;
    font-size: 20px !important;
    line-height: 100%;
    background-color: rgb(147, 238, 147) !important;
    border-radius: 10px !important;
    width: 160px;
    
}
.container-fluid{
    padding-top: 75px;
}

.btnTry{
    padding-top: 40px;
}
.btn-sucees{
    background-color: #375739;
}
.btn-try{
    width: 260px !important;
    height: 60px !important;
    font-weight: 600;
    font-size: 24px !important;
    line-height: 100%;
}
.textMain{
    padding-top: 24px;

}
.textH1{
    color: #B7EAAF;
    font-family: SF Pro Text !important;
    font-style: normal;
    font-weight: 600;
    font-size: 18px !important;
    line-height: 100%;
}

.textTitle{
    padding-top: 100px;
    font-style: normal;
    font-weight: 600;
    font-size: 60px ;
    line-height: 100%;
    color: #355342 ;
}
.textP{
    padding-top: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px ;
    line-height: 100%;
}
.btnWatch{
    width: 200px !important;
    height: 40px !important;
}
@media all and (max-width: 768px){
    .header{
        padding-top: 0px;
        background-color: black;
    }
    .btnTry{
        padding-top: 50px;
    }
}
@media all and (max-width: 576px) {
    .main{
        padding-top: 150px;
       
    }
    h1{
        font-size: 40px !important;
    }
    .textbg{
        text-align: center;
        font-size: 20px;
    }
    #bg{
        height: 750px;
    }
    .container-fluid{
        height: 200px;
    }
    h2{
        padding-top: 50px;
        font-size: 30px !important;
    }
    .textP{
        font-size: 13px;
    }
    .btnTry{
        padding-top: 30px;
    }
    .container-fluid{
        padding-top: 30px;
    }
    .btn-try{
        width: 160px !important;
        height: 50px !important;
        font-weight: 600;
        font-size: 16px !important;
        line-height: 100%;
    }
    .textTitle{
        padding-top: 75px;
        font-size: 40px;
    }
}

@media all and (max-width: 375){
    .textbg{
        width: 320px;
        font-size: 20px;
    }
}
