#bg{
    background: url("https://s3-alpha-sig.figma.com/img/bf99/f954/52c8798f8e7f171a38c937a951bc4f74?Expires=1609113600&Signature=g1aykzsM5aYPQyMl7NhHzNKR-g0dtViwIkGxTsT50R58IqReA3apA72qm7fYCEUP2ezecF8x-EB747h6JDsar7VvRkZuwGQjWN86qSVxOMZcKu0fXbAfvFMVGMb4IB5HIsHblfVM1sD~zkX~dU4QEfUG-547eurtzF0UDGXrS3TigV1rJHroHK~uisvwBIOHp9xZ2imGvD785D1MEi3T2073dxsnsj~W03WA~wNcXl~oRkr9GPP-G3F6lASfZaH0Qf6mR~4FPTpSjGJP8-Ljxpx1NN23cKguFZP~-VcIJtdAMp-irZMwMoVqIT8e47hfeTYH8gypoqdQNtCQLdXxiQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    /* height: 1000px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 
}
.header{
    padding-top: 50px;
}
.navbar-item{
    height: 40px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}
.btn-success{
    background-color: #B7EAAF !important;
    width: 160px;
    height: 40px;
    border-radius: 10px !important;
}
.groupText{
    width: 500px;
    padding-top: 160px;
    padding-bottom: 100px;
}
.text1{
    
    font-weight: 600;
    font-size: 64px !important;
    line-height: 76px; 
}

.text2{
    margin-top: 40px;
    /* width: 500px; */
    font-style: normal;
    font-weight: normal;
    font-size: 30px !important;
    line-height: 130%;
}
.card{
    background-color: rgba(33, 63, 54, 0.8) !important;
    width: 420px;
    height: 520px;
    border-radius: 12px;
}
.card-title{
    margin-bottom: 0px !important;
    
}
.modal-content{
    background-color:rgba(33, 63, 54, 0.8) !important;
}
.list-group-item{
    background-color:rgba(33, 63, 54, 0.8) !important;
}
.btn-open-modal{
    width: 50px !important;
    height: 50px !important;
    background-color: yellow !important;
    margin-left: 40px !important ;
    margin-bottom: 40px !important;
}
@media all and (max-width: 576px){
    .groupText{
        padding-top: 150px;
        width: 375px;
    }
    .text1{
        font-weight: 600;
        font-size: 40px !important;
        line-height: 76px;
    }
    .text2{
        margin-top: 40px;
        font-style: normal;
        font-weight: normal;
        font-size: 20px !important;
        line-height: 130%;
    }
   
}
@media all and (max-width: 375px){
    .groupText{
        padding-top: 120px;
        width: 320px;
    }
    .text1{
        font-weight: 600;
        font-size: 45px !important;
        line-height: 76px;
    }
    .text2{
        margin-top: 30px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px !important;
        line-height: 130%;
    }
}
@media all and (max-width: 768px){
    .header{
        padding-top: 0px;
        background-color: black;
    }
    .btn-open-modal{
        background-color: green !important;
    }
}

