.bg{
    background: url("https://s3-alpha-sig.figma.com/img/f653/fc51/da96185728afb6b1b1849fe1ba332c83?Expires=1609113600&Signature=GHX6WHcQy39RqIvq913FOc1oqOBOC-MIfEk6tgvTTstbsrp6mR8lnab0~EHvQtKW5xts7nx7pj5TDLeff40f50ZCR5u8Qyga6atCfFOLzUiGpD0RcpIVY6PODofToyeRiESEUc~~pGhelhDDbdvKjapBhUmRB83jXyY3bSUmi-o5zfDaSio1Tqg-wXQjLKvNalrwaOGgizYAqIOj-RqTm6tTUiR--VzTpizUYllw~dICvBu6A4sG1EGbP-I7ntiGDne6E3G7Gzzew7OOWmYPs8qz4EESRC-RQ83um4Y0YUH0jn8GRLryd8OHOhoArLh2-U4319v0Qj7ot~W4Mr2oFQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 900px;
}
.header{
    padding-top: 50px;
}
.navbar-item{
    height: 40px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
}
.btn-success{
    background-color: #B7EAAF !important;
    width: 160px;
    height: 40px;
    border-radius: 10px !important;
}
.main{
    padding-top: 160px;
}
.mainText{
    width: 500px;
}
.title{
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 100%;
}
.color-home{
    color: rgb(167, 248, 208) !important;
}
.btn-color{
    background-color: rgba(127, 202, 33, 0.8) !important;
    width: 260px !important;
    font-style: normal;
    font-weight: 600;
    font-size: 24px !important;
    line-height: 100%;

}
.footer{
    margin-top: 24px;
    font-size: 16px !important;
}
.title-paragraph{
    margin-top: 40px;
}
.text-paragraph{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 100%;
}
.pdt{
    padding-top: 140px;
}

@media all and (max-width:1200px){
    .image{
        width: 500px;
        height: 400px;
    }
}
@media all and (max-width:768px){
    .header{
        padding-top: 0px;
        background-color: black;
    }
    .image{
        width: 500px;
        height: 400px;
    }
    .title{
        font-size:11vw;
    }
    .buton-color{
        text-align: center;
    }
}
@media all and (max-width:576px){
    .mainText{
        width: 400px;
    }
    
    .text-paragraph{
        font-size: 16px;
    }
    .pdt{
        padding-top: 75px;
    }
    .bg{
        height: 750px;
    }
}
@media all and (max-width:425px){
    .mainText{
        width: 300px;
    }
    .title{
        font-size: 40px;
    }
    .text-paragraph{
        font-size: 13px;
    }
    .bg{
        height: 700px;
    }
}
