
 #bg{
    background: url("https://s3-alpha-sig.figma.com/img/bf99/f954/52c8798f8e7f171a38c937a951bc4f74?Expires=1609113600&Signature=g1aykzsM5aYPQyMl7NhHzNKR-g0dtViwIkGxTsT50R58IqReA3apA72qm7fYCEUP2ezecF8x-EB747h6JDsar7VvRkZuwGQjWN86qSVxOMZcKu0fXbAfvFMVGMb4IB5HIsHblfVM1sD~zkX~dU4QEfUG-547eurtzF0UDGXrS3TigV1rJHroHK~uisvwBIOHp9xZ2imGvD785D1MEi3T2073dxsnsj~W03WA~wNcXl~oRkr9GPP-G3F6lASfZaH0Qf6mR~4FPTpSjGJP8-Ljxpx1NN23cKguFZP~-VcIJtdAMp-irZMwMoVqIT8e47hfeTYH8gypoqdQNtCQLdXxiQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 900px;
}
.navbar-item{
    height: 40px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
}
.btn-color{
    background-color: rgb(162, 245, 162) !important;
    border-radius: 12px !important;
    width: 160px !important;
}

.header{
    padding-top: 50px;
}
.main{
    margin-top: 100px;
}

.imgbg{
    position: absolute;
    width: 900px;
    height: 600px;
}
.color-overlay{
    width: 100%;
    z-index: 2;
    width: 900px;
    height: 600px;
    background: linear-gradient(113.96deg, #213F36 0%, rgba(33, 63, 54, 0.2) 100%)
}
.text{
    width: 500px;
    padding-top: 40px;
}
.title{
    font-size: 80px;
}
.color-home{
    color: rgb(162, 247, 212);
}
.text-paragraph{
    margin-top: 40px;
    font-size:24px ;
    margin-bottom: 24px;
}
.btn-try{
    width: 260px;
    height: 60px;
    font-size: 24px !important;
    background-color: rgb(24, 153, 24) !important;
}

@media all and (max-width:900px){
    .imgbg{
        width: 768px;
        height: 500px;
    }
    .color-overlay{
        z-index: 2;
        width: 768px;
        height: 500px;
        background: linear-gradient(113.96deg, #213F36 0%, rgba(33, 63, 54, 0.2) 100%)
    }
}
@media all and (max-width:768px){
    .header{
        padding-top: 0px;
        background-color: black;
    }
    .imgbg{
        width: 600px;
        height: 500px;
    }
    .color-overlay{
        z-index: 2;
        width: 600px;
        height: 500px;
        background: linear-gradient(113.96deg, #213F36 0%, rgba(33, 63, 54, 0.2) 100%)
    }
    #bg{
        height: 700px;
    }
}
@media all and (max-width:576px){
    .imgbg{
        width: 450px;
        height: 400px;
    }
    .color-overlay{
        z-index: 2;
        width: 450px;
        height: 400px;
        background: linear-gradient(113.96deg, #213F36 0%, rgba(33, 63, 54, 0.2) 100%)
    }
    .text{
        width: 400px;
    }
    .title{
        font-size: 60px;
    }
    .text-paragraph{
        margin-top: 30px;
        font-size:20px ;
        margin-bottom: 20px;
    }
    #bg{
        height: 600px;
    }
}
@media all and (max-width:475px){
    .imgbg{
        width: 300px;
        height: 300px;
    }
    .color-overlay{
        text-align: center;
        z-index: 2;
        width: 300px;
        height: 300px;
        background: linear-gradient(113.96deg, #213F36 0%, rgba(33, 63, 54, 0.2) 100%)
    }
    .text{
        width: 275px;
        text-align:center;
    }
    .title{
        font-size: 30px;
    }
    .text-paragraph{
        margin-top: 30px;
        font-size: 14px;
        margin-bottom: 10px;
        margin-bottom: 30px;
        text-align: center;
    }
    #bg{
        height: 600px;
    }
}